<html lang="pt-BR" ng-app="indexModulo">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="keywords" content="sistema galileu, gestão escolar, sistema escolar, sistema de gestão escolar, software para escolas, sistema para escolas com financeiro, gestão financeira para escolas, controle pedagógico, gestão pedagógica, reduzir inadimplência na escola, inadimplência nas escolas">
        <link rel="icon" href="imagens/favicon-sgs.png">
        <title>SGS</title>
        <!-- Bootstrap core CSS e Angular -->
        <link rel="stylesheet" href="bootstrap-4/css/bootstrap.min.css" >
        <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
        <link href="css/estilosIndex.css" rel="stylesheet">
        <script src="bootstrap-4/jquery/jquery-3.2.1.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="controller/indexAngular.js"></script>
    </head>
    <body ng-controller="indexController" style="background-color: antiquewhite;">
        <div ng-include src="'menu.html'" style="background-color: #343A40;"></div>
        
        <p></p>
        <p></p>

        <!-- Carousel
        ================================================== -->
        <div class="container" id="content">
            
            <div class="container">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active liCarousel"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1" class="liCarousel"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2" class="liCarousel"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="3" class="liCarousel"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="imagens/SGS0.jpg"
                            alt="Visita do neri ao Google">
                            <div class="carousel-caption d-none d-md-block">
                                <h1 class="h1Carousel">Imagem 1</h1>
                            </div>
                      <!--<img class="d-block w-100" src="..." alt="First slide">-->
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="imagens/SGS1.jpg"
                            alt="Second slide">
                            <div class="carousel-caption d-none d-md-block">
                                <h1 class="h1Carousel">Imagem 2</h1>
                            </div>
                      <!--<img class="d-block w-100" src="..." alt="Second slide">-->
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="imagens/SGS2.jpg"
                            alt="Third slide">
                            <div class="carousel-caption d-none d-md-block">
                                <h1 class="h1Carousel">Imagem 3</h1>
                            </div>
                      <!--<img class="d-block w-100" src="..." alt="Third slide">-->
                    </div>
					<div class="carousel-item">
                        <img class="d-block w-100" src="imagens/SGS3.jpg"
                            alt="Third slide">
                            <div class="carousel-caption d-none d-md-block">
                                <h1 class="h1Carousel">Imagem 3</h1>
                            </div>
                      <!--<img class="d-block w-100" src="..." alt="Third slide">-->
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
            </div>
            
            <p></p>
            <p></p>

            <div class="container marketing">
                <div class="row">
                    <div class="col-lg-4">
                        <img class="img-circle" src="imagens/favicon-sgs.png"
                            alt="Generic placeholder image" width="140" height="140">
                        <h2>Confiabilidade</h2>
                        <p>Alta confiabilidade comprovada e diagnosticada, situações hostis e inesperadas.</p>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <img class="img-circle" src="imagens/favicon-sgs.png"
                            alt="Generic placeholder image" width="140" height="140">
                        <h2>Segurança</h2>
                        <p>Sistema utiliza um dos banco de dados mais seguros no mercado e conhecido.</p>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <img class="img-circle" src="imagens/favicon-sgs.png"
                            alt="Generic placeholder image" width="140" height="140">
                        <h2>Usabilidade</h2>
                        <p>O sistema é utilizável e funcional, facilidade para aprender e utilizar o sistema com grande eficiência e com muita grande facilidade de aprender a mexer.</p>
                    </div>
                    <!-- /.col-lg-4 -->
                </div>
            </div>
            
            <p></p>
            <p></p>

            <div class="container funcionalidadesSistema">
                <div class="container text-center">
                    <i class="fa fa-angle-right fa-3" aria-hidden="true"></i> <span class="font-weight-bold">Funcionalidades do sistema</span>
                </div>
                <br/>
                <br/>

                <div class="Multiple-targets">
                    <p class="text-center">
                      <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseEscolha1" aria-expanded="false" aria-controls="multiCollapseEscolha1">Aluno</a>
                      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseEscolha2" aria-expanded="false" aria-controls="multiCollapseEscolha2">Responsável</button>
                      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseEscolha3" aria-expanded="false" aria-controls="multiCollapseEscolha3">Professor</button>
                      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseEscolha4" aria-expanded="false" aria-controls="multiCollapseEscolha4">Funcionário</button>
                      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseEscolha4" aria-expanded="false" aria-controls="multiCollapseEscolha4">Diretor</button>
                    </p>

                    <div class="container">
                      <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseEscolha1">
                            <div class="card card-body">
                                <table class="table table-striped table-dark">
                                    <thead>
                                        <th scope="col" class="text-center" colspan="3">Acesso Aluno</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th><span>Visualização de matéria</span></th>
                                            <th><span>Consultar cronograma de aulas</span></th>
                                            <th><span>Visualização de nota</span></th>
                                        </tr>
                                        <tr>
                                            <th>Visualização de dados cadastrais</th>
                                            <th>Visualização de grade curricular (Disciplinas matriculadas)</th>
                                            <th>Consulta de frequência escolar</th>
                                        </tr>
                                        <tr>
                                            <th><span>Consulta de Histórico Escolar</span></th>
                                            <th><span>Manual escolar</span></th>
                                            <th><span>Lançamento de falta com justificativa</span></th>
                                        </tr>
                                        <tr>
                                            <th>Consulta de falta com justificativa</th>
                                            <th>Solicitações secretaria online - Reclamação</th>
                                            <th>Solicitações secretaria online - Agendamento de atendimento</th>
                                        </tr>
                                        <tr>
                                            <th><span>Solicitações secretaria online - Requerimento escolar</span></th>
                                            <th><span>Solicitações secretaria online - Ouvidoria</span></th>
                                            <th><span>Historico escolar</span></th>
                                        </tr>
                                        <tr>
                                            <th>Conversa - Vinculo de aluno com aluno</th>
                                            <th>Conversa - Vinculo de aluno com professor</th>
                                            <th>Conversa - Vinculo de aluno com secretariado</th>
                                        </tr>
                                        <tr>
                                            <th><span>Conversa - Vinculo de aluno com diretor</span></th>
                                            <th><span>Consulta a material de aula ministrada</span></th>
                                            <th><span>Consulta de eventos escolares</span></th>
                                        </tr>
                                        <tr>
                                            <th>Consulta de horário de aulas</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseEscolha2">
                            <div class="card card-body">
                                <table class="table table-striped table-dark">
                                    <thead>
                                        <th scope="col" class="text-center" colspan="3">Acesso Responsável</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Visualização de matéria</th>
                                            <th>Consultar cronograma de aulas</th>
                                            <th>Visualização de nota</th>
                                        </tr>
                                        <tr>
                                            <th>Visualização de dados cadastrais</th>
                                            <th>Visualização de grade curricular (Disciplinas matriculadas)</th>
                                            <th>Consulta de frequência escolar</th>
                                        </tr>
                                        <tr>
                                            <th>Consulta de Histórico Escolar</th>
                                            <th>Manual escolar</th>
                                            <th>Lançamento de falta com justificativa</th>
                                        </tr>
                                        <tr>
                                            <th>Consulta de falta com justificativa</th>
                                            <th>Solicitações secretaria online - Reclamação</th>
                                            <th>Solicitações secretaria online - Agendamento de atendimento</th>
                                        </tr>
                                        <tr>
                                            <th>Solicitações secretaria online - Requerimento escolar</th>
                                            <th>Solicitações secretaria online - Ouvidoria</th>
                                            <th>Historico escolar</th>
                                        </tr>
                                        <tr>
                                            <th>Conversa - Vinculo de aluno com aluno</th>
                                            <th>Conversa - Vinculo de aluno com professor</th>
                                            <th>Conversa - Vinculo de aluno com secretariado</th>
                                        </tr>
                                        <tr>
                                            <th>Conversa - Vinculo de aluno com diretor</th>
                                            <th>Consulta a material de aula ministrada</th>
                                            <th>Consulta de eventos escolares</th>
                                        </tr>
                                        <tr>
                                            <th>Consulta de horário de aulas</th>
                                            <th>Consulta da situação financeira</th>
                                            <th>Emissão de boletos diversos</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseEscolha3">
                            <div class="card card-body">
                                <table class="table table-striped table-dark">
                                    <thead>
                                        <th scope="col" class="text-center" colspan="3">Acesso Professor</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Visualização de matéria</th>
                                            <th>Consultar cronograma de aulas</th>
                                            <th>Nota - Lançamento</th>
                                        </tr>
                                        <tr>
                                            <th>Nota - Consulta</th>
                                            <th>Visualização de dados cadastrais</th>
                                            <th>Visualização de grade curricular (Disciplinas matriculadas)</th>
                                        </tr>
                                        <tr>
                                            <th>Consulta de frequência escolar</th>
                                            <th>Consulta de Histórico Escolar</th>
                                            <th>Manual escolar</th>
                                        </tr>
                                        <tr>
                                            <th>Lançamento de falta com justificativa</th>
                                            <th>Consulta de falta com justificativa</th>
                                            <th>Solicitações secretaria online - Reclamação</th>
                                        </tr>
                                        <tr>
                                            <th>Solicitações secretaria online - Agendamento de atendimento</th>
                                            <th>Solicitações secretaria online - Requerimento escolar</th>
                                            <th>Solicitações secretaria online - Ouvidoria</th>
                                        </tr>
                                        <tr>
                                            <th>Conversa - Vinculo de professor com aluno</th>
                                            <th>Conversa - Vinculo de professor com professor</th>
                                            <th>Conversa - Vinculo de professor com secretariado</th>
                                        </tr>
                                        <tr>
                                            <th>Conversa - Vinculo de professor com diretor</th>
                                            <th>Material de aula ministrada - Lançamento</th>
                                            <th>Material de aula ministrada - Atualização</th>
                                        </tr>
                                        <tr>
                                            <th>Material de aula ministrada - Consulta</th>
                                            <th>Consulta de eventos escolares</th>
                                            <th>Consulta de horário de aulas</th>
                                        </tr>
                                        <tr>
                                            <th>Lista de alunos por matéria</th>
                                            <th>Lançamento de faltas de alunos por materia e data</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseEscolha4">
                            <div class="card card-body">
                                <table class="table table-striped table-dark">
                                    <thead>
                                        <th scope="col" class="text-center" colspan="3">Acesso Funcionário/Diretor</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Cronograma de aulas - Lançamento</th>
                                            <th>Cronograma de aulas - Consultar</th>
                                            <th>Matéria escolar - Cadastro</th>
                                        </tr>
                                        <tr>
                                            <th>Matéria escolar - Visualização</th>
                                            <th>Nota - Lançamento</th>
                                            <th>Nota - Consulta</th>
                                        </tr>
                                        <tr>
                                            <th>Dados cadastrais funcionários e alunos</th>
                                            <th>Grade curricular - Lançamento</th>
                                            <th>Grade curricular - Consulta</th>
                                        </tr>
                                        <tr>
                                            <th>Frequência escolar - Lançamento</th>
                                            <th>Frequência escolar - Consultar</th>
                                            <th>Histórico Escolar - Lançamento</th>
                                        </tr>
                                        <tr>
                                            <th>Histórico Escolar - Consultar</th>
                                            <th>Manual escolar - Lançamento</th>
                                            <th>Manual escolar - Alterar</th>
                                        </tr>
                                        <tr>
                                            <th>Manual escolar - Consultar</th>
                                            <th>Consulta de falta (Aluno e funcionários)</th>
                                            <th>Secretaria online - Reclamação</th>
                                        </tr>
                                        <tr>
                                            <th>Secretaria online - Agendamento de atendimento</th>
                                            <th>Secretaria online - Requerimento escolar</th>
                                            <th>Secretaria online - Ouvidoria</th>
                                        </tr>
                                        <tr>
                                            <th>Conversa - Vinculo de secretariado com aluno</th>
                                            <th>Conversa - Vinculo de secretariado com professor</th>
                                            <th>Conversa - Vinculo de secretariado com secretariado</th>
                                        </tr>
                                        <tr>
                                            <th>Conversa - Vinculo de secretariado com diretor</th>
                                            <th>Material de aula ministrada - Lançamento</th>
                                            <th>Material de aula ministrada - Atualização</th>
                                        </tr>
                                        <tr>
                                            <th>Material de aula ministrada - Consulta</th>
                                            <th>Consulta de eventos escolares - Lançamento</th>
                                            <th>Consulta de eventos escolares - Atualização</th>
                                        </tr>
                                        <tr>
                                            <th>Consulta de eventos escolares - Consulta</th>
                                            <th>Horário de aulas - Lançamento</th>
                                            <th>Horário de aulas - Atualização</th>
                                        </tr>
                                        <tr>
                                            <th>Horário de aulas - Consulta</th>
                                            <th>Alunos - lançamento de vinculo com aula</th>
                                            <th>Alunos - Atualização de vinculo com aula</th>
                                        </tr>
                                        <tr>
                                            <th>Alunos - Consulta de vinculo com aula</th>
                                            <th>Alunos - Lançamento de ocorrência diversas</th>
                                            <th>Alunos - Solicitação de cartão escolar</th>
                                        </tr>
                                        <tr>
                                            <th>Alunos - Consulta de cartão escolar</th>
                                            <th>Falta de aulas - Lançamento</th>
                                            <th>Falta de aulas - Atualização</th>
                                        </tr>
                                        <tr>
                                            <th>Falta de aulas - Consulta</th>
                                            <th>Boletos - Criação</th>
                                            <th>Boletos - Validação de pagamento</th>
                                        </tr>
                                        <tr>
                                            <th>Situação financeira - Lançamentos</th>
                                            <th>Situação financeira - Atualização</th>
                                            <th>Situação financeira - Consulta</th>
                                        </tr>
                                        <tr>
                                            <th>Funcionários - Cadastramento</th>
                                            <th>Funcionários - Atualização</th>
                                            <th>Funcionários - Consulta</th>
                                        </tr>
                                        <tr>
                                            <th>Funcionários - Lanaçamentos de ocorrências diversas</th>
                                            <th>Documentos - Solicitação a responsável</th>
                                            <th>Documentos - Atualização de solicitação a responsável</th>
                                        </tr>
                                        <tr>
                                            <th>Documentos - Consulta de solicitação a responsável</th>
                                            <th>Solicitações diversas - Responsável</th>
                                            <th>Solicitações diversas - Alunos</th>
                                        </tr>
                                        <tr>
                                            <th>Solicitações diversas - Professor</th>
                                            <th>Solicitações diversas - Secretariado</th>
                                            <th>Solicitações diversas - Diretor</th>
                                        </tr>
                                        <tr>
                                            <th>Biblioteca - Lançamento de novos livros</th>
                                            <th>Biblioteca - Atualização livros</th>
                                            <th>Biblioteca - Conulta de livros</th>
                                        </tr>
                                        <tr>
                                            <th>Biblioteca - Lançamento de novas midias</th>
                                            <th>Biblioteca - Atualização de midias</th>
                                            <th>Biblioteca - Conulta de midias</th>
                                        </tr>
                                        <tr>
                                            <th>Biblioteca - Empréstimo de livors/midias</th>
                                            <th>Financeiro - Receita</th>
                                            <th>Financeiro - Despesas</th>
                                        </tr>
                                        <tr>
                                            <th>Financeiro - Passivos e ativos</th>
                                            <th>Financeiro - Lançamentos financeiros</th>
                                            <th>Financeiro - Atualização de lançamentos financeiros</th>
                                        </tr>
                                        <tr>
                                            <th>Financeiro - Consulta de lançamentos financeiros</th>
                                            <th>Financeiro - Emissão de carnê com/sem desconto</th>
                                            <th>Financeiro - Confirmação de pagamento de  carnê</th>
                                        </tr>
                                        <tr>
                                            <th>Financeiro - Confirmação de pagamento de  diversos</th>
                                            <th>Financeiro - Solicitação de pagamento de fornecedor</th>
                                            <th>Financeiro - Atualização de pagamento de fornecedor</th>
                                        </tr>
                                        <tr>
                                            <th>Financeiro - Conculta de pagamento de fornecedor</th>
                                            <th>Fornecedores - Lançamentos de solicitações</th>
                                            <th>Fornecedores - Atualização de solicitações</th>
                                        </tr>
                                        <tr>
                                            <th>Fornecedores - Consulta de solicitações</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            
            <p></p>
            <p></p>
            
            <div class="container" id="mensagemDiv" name="mensagemDiv">
                <h1 align="center">Lista de mensagens</h1>
                <form name="myform">
                    <div class="form-group row">
                        <label for="codigo" class="col-sm-2 control-label">Código</label>
                        <div class="col-sm-2">
                            <input type="text" disabled ng-model="mensagem.codigo"
                                class="form-control" id="codigo" placeholder="Codigo">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label" for="nome">Nome</label>
                        <div class="col-sm-6">
                            <input type="text" ng-model="mensagem.nome"
                                class="form-control" id="nome" placeholder="Nome">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label" for="email">Email</label>
                        <div class="col-sm-6">
                            <input type="email" ng-model="mensagem.email" class="form-control"
                                id="email" placeholder="Email"
                                ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label" for="afone">Fone</label>
                        <div class="col-sm-2">
                            <input type="text" ng-model="mensagem.fone" class="form-control"
                                id="fone" placeholder="Telefone/Celular">
                        </div>
                    </div>
                    <br>
                    <div class="form-group divBotaoForm">
                            <button type="submit" ng-click="limparCampos()" class="btn btn-success">Novo</button>
                            <button ng-disabled="!mensagem.nome" type="submit" ng-click="salvar()" class="btn btn-primary">Gravar</button>
                            <button ng-disabled="!mensagem.nome" type="submit" ng-click="excluir()" class="btn btn-danger">Excluir</button>
                            <label >Pesquisa de professores: </label> <input type="text" id="pesquisa" ng-model="pesquisaMesagem"
                                class="inputBotaoForm" placeholder="Digite a pesquisa">
                    </div>
                </form>
                <div class="container">
                    <table class="table table-striped table-hover">
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Telefone</th>
                        <tr
                            ng-repeat="mensagensTabela in mensagens | filter:pesquisaMesagem"
                            ng-click="selecionaMensagem(mensagensTabela)">
                            <td>{{mensagensTabela.codigo}}</td>
                            <td>{{mensagensTabela.nome}}</td>
                            <td>{{mensagensTabela.email}}</td>
                            <td>{{mensagensTabela.fone}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            
            <p></p>
            <p></p>
            
            <div class="container" id="contato">
            
                <section class="section_mod-b text-center wow fadeInUp" data-wow-duration=".5s" style="visibility: visible; animation-duration: 0.5s; animation-name: fadeInUp;"> 
                    <h2 class="ui-title-block">Nossa solução é muito mais que um software, é uma poderosa ferramenta de gestão para <strong>mudar sua instituição de ensino.</strong></h2> 

                    <div class="ui-subtitle-block ui-subtitle-block_mod-c"> 

                        <p> Com o SGS, sua instituição de ensino ganhará maior poder de gestão e decisão, e tudo através da internet, <strong>não sendo necessário nenhuma instalação</strong>. Com controle financeiro completo, e <strong>GASTE O NECESSÁRIO, NADA MAIS,</strong> os gestores poderão acompanhar toda a saúde financeira da instituição, controlar inadimplência, renegociar contratos, emitir boletos, controlar contas a pagar, e muito mais! </p> 

                        <p> Além de todo o controle financeiro, sua instituição ainda contará com um conjunto completo de funcionalidades para gestão pedagógica, incluindo lançamento de notas e faltas, emissão de boletins e históricos, atas de resultados, diários de classe, ocorrências disciplinares, envio de arquivos e mensagens, e muito mais. E tudo isso, integrado com o <strong>PORTAL DOS PAIS E ALUNOS</strong>, e também com o <strong>PORTAL DOS PROFESSORES</strong>. </p>
                    </div>
                </section>
            </div>
        </div>
        <p></p>
        <p></p>

        <footer class="footer wow fadeInUp text-center footerIndex">
			<div class="container">
				<p class="top">
					&copy; Sistema de gerenciamento escolar &#124; SGS
				</p>
			</div>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <section>
                            <div class="footer-info">
                                A <strong>SGS</strong> é uma empresa jovem, localizada em São Gonçalo - RJ.
                            </div>
                        </section>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div style="flex-direction: row; align-items: center">
                            <div class="row">
                                <i class="fa fa-map-marker footerI0" aria-hidden="true"></i>
                                <address> R. Dr. Alfredo Backer - Alcantara - SG </address>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div style="flex-direction: row; align-items: center">
                            <div class="row">
                                <i class="fa fa-phone footerI1" aria-hidden="true"></i>
                                <span class="footerSpan0"> (21) 3606-0606 </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div style="flex-direction: row; align-items: center">
                            <div class="row">
                                <i class="fa fa-envelope-o footerI2" aria-hidden="true"></i>
                                <span class="footerSpan1"> contato@sgs.com.br </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
        <!-- Bootstrap JavaScript -->
        <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
        <script src="bootstrap-4/jquery/jquery-3.2.1.slim.min.js"></script>
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>-->
        <script src="bootstrap-4/popper/popper.min.js"></script>
        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>-->
        <script src="bootstrap-4/js/bootstrap.min.js"></script>
        <script type="text/javascript">
           $(function(){
                $('.top').click(function(){
                     $('html,body').animate({scrollTop: 0},'slow');
                });
           });
           function mascara(o,f){
                v_obj=o
                v_fun=f
                setTimeout("execmascara()",1)
            }
            function execmascara(){
                v_obj.value=v_fun(v_obj.value)
            }
            function mtel(v){
                v=v.replace(/\D/g,"");             //Remove tudo o que não é dígito
                v=v.replace(/^(\d{2})(\d)/g,"($1) $2"); //Coloca parênteses em volta dos dois primeiros dígitos
                v=v.replace(/(\d)(\d{4})$/,"$1-$2");    //Coloca hífen entre o quarto e o quinto dígitos
                return v;
            }
            function id( el ){
                return document.getElementById( el );
            }
            window.onload = function(){
                id('fone').onkeypress = function(){
                    mascara( this, mtel );
                }
            }
        </script>
    </body>
</html>