<html lang="pt-BR" ng-app="loginSecretariadoModulo">
    <head>
		<meta charset="utf-8"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="keywords" content="">
        <link rel="icon" href="imagens/favicon-sgs.png">
        <title>SGS</title>
        <!-- Bootstrap core CSS e Angular -->
        <link rel="stylesheet" href="bootstrap-4/css/bootstrap.min.css" >
        <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
        <link href="css/estilosLogin.css" rel="stylesheet">
        <script src="bootstrap-4/jquery/jquery-1.11.3.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="controller/loginSecretariadoAngular.js"></script>
    </head>
    <body ng-controller="loginSecretariadoController">
        <div ng-include src="'menu.html'" style="background-color: #343A40;"></div>
		
		<div id="conteudo">
			<div class="container containerFormulario">
				<h1 align="center">Secretariado</h1>
				<p></p>
				<p></p>
				<div class="container">
					<div class="row justify-content-md-center">
						<div class="col col-3"></div>
						<div class="col-md-auto">
							<form>
								<div class="form-group row">
									<label for="nome/email" class="col-sm-2 control-label espacoEsqFormul">Matrícula/Email: </label>
									<div class="col-7">
										<input type="text" ng-model="login.nomeEmail"
											class="form-control" id="nomeEmail" placeholder="Nome/Email">
									</div>
								</div>
								<div class="form-group row">
									<label for="senha" class="col-sm-2 control-label espacoEsqFormul">Senha</label>
									<div class="col-7">
										<input type="text" ng-model="login.senha"
											class="form-control" id="nomeEmail" placeholder="Senha">
									</div>
								</div>
								<div class="form-group text-center">
										<button type="submit" ng-click="limparCampos()" class="btn btn-success">Limpar</button>
										<button ng-disabled="!login.nomeEmail" type="submit" ng-click="salvar()" class="btn btn-primary">consultar</button>
										<!--<button disabled type="submit" ng-click="excluir()" class="btn btn-danger">Excluir</button>-->
										<!--<label >Pesquisa de professores: </label> <input type="text" id="pesquisa" ng-model="pesquisaMesagem"
											class="inputBotaoForm" placeholder="Digite a pesquisa">-->
								</div>
							</form>
						</div>
						<div class="col col-3"></div>
					</div>
				</div>
			</div>
		</div>
		
		<footer class="footer text-center footerAbout">
            <p class="top">
                &copy; Sistema de gerenciamento escolar &#124; SGS
            </p>
            <div class="container">
                <div class="footer-inner border-decor_top">
                    <div class="row">
                        <div class="col-lg-3 col-sm-3">
                            <section class="footer-section">
                                <div class="footer-info">
                                    A <strong>SGS</strong> é uma empresa jovem, localizada em São Gonçalo - RJ.
                                </div>
                                
                            </section>
                        </div>
                        <div class="col-lg-1 col-sm-1"></div>
                        <div class="col-lg-2 col-sm-3">
                            <div class="row">
                                <i class="fa fa-map-marker footerI0" aria-hidden="true"></i>
                                <address> Av. Rio Branco, Rio de Janeiro - RJ </address>
                            </div>
                        </div>
                        <div class="col-lg-1 col-sm-1"></div>
                        <div class="col-lg-2 col-sm-3">
                            <div class="row">
                                <i class="fa fa-phone footerI1" aria-hidden="true"></i>
                                <span class="footerSpan0"> (21) 3606-0606 </span>
                            </div>
                        </div>
                        <div class="col-lg-1 col-sm-1"></div>
                        <div class="col-lg-2 col-sm-3">
                            <div class="row">
                                <i class="fa fa-envelope-o footerI2" aria-hidden="true"></i>
                                <span class="footerSpan1"> contato@sgs.com.br </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
        <!-- Bootstrap JavaScript -->
        <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
        <script src="bootstrap-4/jquery/jquery-3.2.1.slim.min.js"></script>
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>-->
        <script src="bootstrap-4/popper/popper.min.js"></script>
        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>-->
        <script src="bootstrap-4/js/bootstrap.min.js"></script>
	</body>
</html>